:root {
--primary-text-color: #434455;
--title-text-color: #2E2F42;
--accent-color: #4D5AE5;
--primary-background-color:#E5E5E5;
--secondary-background-color: #2E2F42;
--primary-color-button: #FFFFFF;
}
body {
background-color: var(--primary-background-color);
color: var(--primary-text-color);
font-family: Roboto, sans-serif;
font-weight: 400;
}
.logo {
font-family: Raleway;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
text-transform: uppercase;
text-decoration: none;
}
.logo-first-word {
color: var(--accent-color);
}
.logo-second-word {
color: var(--title-text-color);
}
.logo-second-word-footer {
color: #F4F4FD;
}

.nav-list {
list-style-type: none;
font-family: Roboto;
font-weight: 600;
}
.nav-list-link {
text-decoration: none;
color: var(--title-text-color);
font-size: 16px;
line-height: 1.33;
}
.nav-list-link:hover {
color: var(--primary-text-color);
}
.nav-list-link:focus {
color:var(--accent-color) ;
}
.contacts {
list-style-type: none;
}
.contact {
color: var(--primary-text-color);
font-size: 16px;
line-height: 1.33;
text-decoration: none;
}
.hero {
background-color: var(--secondary-background-color);
}
.hero-title {
font-size: 56px;
line-height: 1.07;
font-weight: 600;
color: #FFFFFF;
}
.button-order {
font-family: Roboto, san-serif;
font-weight: 600;
font-size: 16px;
line-height: 1.19;
color: var(--primary-color-button);
background-color: #4D5AE5;
cursor: pointer;
}
.button-order:focus {
background-color: #404BBF;
}
.title-advantages {
display: none;
}
.title-advantages-list {
list-style-type: none;
}
.subtitle-advantages {
color: var(--title-text-color);
font-size: 20px;
line-height: 1.2;
font-weight: 600;
}
.subtitle-advantages-text{
font-size: 16px;
line-height: 1.5;
}
.title-works,
.title-team {
color: var(--title-text-color);
font-weight: 600;
font-size: 36px;
line-height: 1.11;
}
.title-works-list {
list-style-type: none;
}
.title-team-list {
list-style-type: none;
}
.title-team-name {
color: var(--title-text-color);
font-weight: 600;
font-size: 20px;
line-height: 1.2;
}
.job-title {
font-size: 16px;
line-height: 1.5;
}
.footer {
background-color: var(--secondary-background-color);
}
.text-footer {
color: #E7E9FC;
font-size: 16px;
line-height: 1.5;
}
.title-portfolio {
display: none;
}
.filter-list {
list-style-type: none;
font-weight: 600;
}
.filter-button {
color: var(--accent-color);
background-color: #F4F4FD;
border-color: #E7E9FC;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
cursor: pointer;
}
.filter-button:focus {
color: var(--primary-color-button);
background-color: var(--accent-color);
}
.project-cards-list {
list-style-type: none;
}
/* .project-card {
border-color: #F4F4FD;
background-color: #FFFFFF;
}
.project-card:focus {
background-color: var(--secondary-background-color);
} */ 

.project-title {
color: var(--title-text-color);
font-weight: 600;
font-size: 20px;
line-height: 1.2;
}
.project-type {
font-size: 16px;
line-height: 1.5;
}

